@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[x-cloak] { display: none !important; }


.bg-red {
    background-color: theme('colors.red');
}
.bg-yellow {
    background-color: theme('colors.yellow');
}
.bg-pink {
    background-color: theme('colors.pink');
}
.bg-green {
    background-color: theme('colors.green');
}
.bg-mauve {
    background-color: theme('colors.mauve');
}

/* vertical line between comments */
.comments-container::before {
    position: absolute;
    display: block;
    top: 0;
    left: -38px;
    content: "";
    width: 3px;
    height: 100%;
    background: theme('colors.maroon');
}

/* horizontal line to the left of the comments */
.comment-container::before {
    position: absolute;
    display: block;
    top: 57px;
    left: -38px;
    content: "";
    width: 23px;
    height: 3px;
    background: theme('colors.maroon');
}

/* remove last vertical line */
.comment-container:last-child::after {
    position: absolute;
    display: block;
    top: 60px;
    left: -38px;
    content: "";
    width: 3px;
    height: calc(100% - 60px);
    background: theme('colors.base');
}

.is-status-update::before {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 7px solid white;
    box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
    left: -58px;
    background: theme('colors.maroon');
    opacity: 1;
    z-index: 1;
}

.is-status-update {
    border-width: 1px;
    border-color: theme('colors.maroon');
}

.is-status-update.comment-container:last-child::after {
    left: -30px;
}

.status-open::before {
    @apply bg-pink text-surface0;
}
.status-considering::before {
    @apply bg-mauve text-surface0;
}

.status-in-progress::before {
    @apply bg-yellow text-surface0;
}

.status-implemented::before {
    @apply bg-green text-surface0;
}

.status-closed::before {
    @apply bg-red text-surface0;
}

.status-open {
    @apply border-2 border-pink;
}

.status-considering {
    @apply border-2 border-mauve;
}

.status-in-progress {
    @apply border-2 border-yellow;
}

.status-implemented {
    @apply border-2 border-green;
}

.status-closed {
    @apply border-2 border-red;
}

.status-open-badge {
    @apply bg-pink text-surface0;
}

.status-considering-badge {
    @apply bg-mauve text-surface0;
}

.status-in-progress-badge {
    @apply bg-yellow text-surface0;
}

.status-implemented-badge {
    @apply bg-green text-surface0;
}

.status-closed-badge {
    @apply bg-red text-surface0;
}